<!DOCTYPE html>
<html>
  <head>
    <title>ProductivityAppServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% flash.each do |type, msg| %>
      <%= tag.div msg, 
                  class: [
                    {
                      notice: 'is-success',
                      alert: 'is-danger'
                    }.fetch(type.to_sym, type.to_s), 
                    "notification", 
                    "is-light", 
                    "text-center"
                  ]
      %>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
